/* Estilo general */

body {
    font-family: Arial, sans-serif;
    background: url('imagenes/FondoPantalla.webp') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2 {
    color: #fff;
    text-align: center;
}

/********************* Barra de cabedera ********************/
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(245, 240, 240);
    flex-wrap: wrap;/*Para que se ajuste al tamaño de la pantalla*/
}

.header h1{
    color: black; /* Color del texto */
    margin: 0; /* Elimina margen por defecto */
    font-size: 36px; /* Tamaño del texto */
    position: absolute; /* Posición absoluta para centrar */
    left: 50%; /* Mueve a la mitad de la pantalla */
    top: 25%;  /*A la mitad de lo blanco*/
    transform: translateX(-50%); /* Centra horizontalmente */
    text-align: center; /* Centra el texto */
}

/************Barra de busquda en cabecera**************/
.search-section {
    margin: 10px;
}

.search-section label {
    margin-right: 5px;
    color: black; /* Asegúrate de que el texto sea visible */
}

.search-section input[type="text"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* Ajustar el contenedor para que se adapte al diseño */
.menu-container {
    display: flex;
    align-items: center;
}

/* Ajuste de la posición de la barra de búsqueda en la cabecera */
.header .search-section {
    margin-left: auto; /* Para mover la búsqueda a la derecha */
    margin-right: 20px;
}


/************ Menú de navegación ***************/
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 60px;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1000;
    padding: 10px; /* Agrega un poco de padding para que se vea mejor */
    border-radius: 5px; /* Opcional: bordes redondeados */
    opacity: 0; /* Oculto por defecto */
    transition: opacity 0.3s ease; /* Efecto de transición */
    visibility: hidden; /*Para que no ocupe espacio en la página*/
}
.menu.open {  /* Clase que muestra el menú */
    display: block;
    opacity: 1; /* Totalmente visible */
    visibility: visible; /* Asegúrate de que sea visible */
}

.menu-icon.open {
    /* Cambia el icono de menú (hamburguesa) a una "X" cuando el menú está abierto */
    content: "\00d7"; /* Código para "X" en HTML */
    font-size: 36px; /* Tamaño del icono de cierre */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
    text-align: left;
}

.menu ul li {
    margin: 20px 0;
    
}

.menu ul li a {
    color: rgb(248, 246, 246);
    font-size: 24px;
    text-decoration: none
 /*   Efecto de transición*/
}
.menu ul li a:hover {
    font-size: 28px; /* Aumenta el tamaño del texto */
    color: #c2c8e2;
    display: inline-block;
    transform: scale(1.15); 
}
/************* Botones de inicio de sesión y registro ********************/
.header {
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin-top: 20px;      
}

.header-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.header-button:hover {
    background-color: #0056b3;
}


/****************Navbar******************/
.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 18px;
}

.navbar a:hover {
    color: #007BFF;
}

/*********************** Filtros *********************/
.filtros-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
    text-align: center;
}

.filtros-container form select {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.filtros-container button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.filtros-container button:hover {
    background-color: #0056b3;
}

/************************** Buscador **************************/
.buscador-container {
    text-align: center;
    margin: 20px;
}

.buscador-container input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.buscador-container button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.buscador-container button:hover {
    background-color: #0056b3;
}

/************** Videos *********************/
.videos-container {
    margin: 20px;
    text-align: center;
}

.video-item {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 5px;
}

video {
    width: 100%;
    border-radius: 5px;
}

/* Footer */
.footer {
    margin-top: auto;
    text-align: right;
    padding: 10px;
    background-color: transparent;
}

.footer img {
    width: 50px;
    cursor: pointer;
    opacity: 0.8;
}

.footer img:hover {
    opacity: 1;
}

/********************** Botón flotante de Kick *********************/
#kick-floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    right: 100%;
}

#kick-floating-button img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#kick-floating-button img:hover {
    transform: scale(1.1);
}

/****************** Formularios ************************/
form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
    width: 100%;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Botón de envío de formulario */
form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}


/* Cambio de formulario entre Login y Registro */
form .cambio-registro {
    display: block;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: calc(100% - 22px);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 5px;
}

form .cambio-registro:hover {
    background-color: #0056b3;
}
/*************************CSS PERFIL**********************/
.profile-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    width: 100%;
}
/*************************************Tablas Pelea************************/
.fights-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.fights-table th, .fights-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.fights-table th {
    background-color: #f2f2f2;
}

.fighter-form, .password-form {
    margin-top: 20px;
}

.fighter-form input, .fighter-form select,
.password-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.fighter-form input[type="submit"],
.password-form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.fighter-form input[type="submit"]:hover,
.password-form input[type="submit"]:hover {
    background-color: #0056b3;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/******************* Menú lateral izquierdo ************************/
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    color: white;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}




/***************** Barra superior (perfil en la derecha) ***************/
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 250px; /* Ajuste para dejar espacio al menú lateral */
    right: 0;
    z-index: 1000;
}

/*********** Perfil desplegable en la esquina derecha ****************/
.profile-dropdown {
    position: relative;
    display: inline-block;
    right: 0%;
    top: 100%;
}

.profile-button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.profile-button:hover {
    background-color: #575757;
}

.profile-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profile-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-content a:hover {
    background-color: #f1f1f1;
}

.profile-dropdown:hover .profile-content {
    display: block;
}

/************** Contenido principal ********************/
.content {
    margin-left: 250px; /* Ajuste para dejar espacio al menú lateral */
    margin-top: 60px;
    padding: 20px;
}

/* Estilos para la tabla */
/* Estilos para la tabla */
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto; /* Centrar la tabla */
    background-color: white; /* Fondo blanco para la tabla */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

th, td {
    padding: 12px; /* Espaciado interno */
    text-align: left; /* Alinear texto a la izquierda */
    border-bottom: 1px solid #ddd; /* Línea divisoria entre filas */
}

th {
    background-color: #007BFF; /* Color de fondo para encabezados */
    color: white; /* Color de texto para encabezados */
}

tr:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Color de fondo al pasar el mouse */
}

body.contacto-page {
    background: url('Imagenes/nuestros_servicios.png') no-repeat center center fixed;
    background-size: cover;
}